name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install CMake
      run: sudo apt-get update && sudo apt-get install -y cmake
    - name: Create build directory
      run: mkdir -p build
    - name: Configure
      run: |
        cd build
        cmake ..
    - name: Build
      run: |
        cd build
        make
    - name: Make check
      run: |
        cd build
        make check
    - name: Make distcheck
      run: |
        cd build
        make distcheck
